body{
    background-color: black;
}

.img_cat{
    text-align: center;

}
.img_cat figcaption{
    color: chocolate;
    font-size: 35px;

}
#members h3{
    color: azure;
    text-align: center;
    background-color: green;
}
.member_list{
    color: azure;
    list-style: none;

}

